<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXe7A3q6s9-jjlXOqaXvbq_7F4-lYk8BU</string>
	<key>GCM_SENDER_ID</key>
	<string>3154372934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admin.Prakash</string>
	<key>PROJECT_ID</key>
	<string>prakash-f9bf4</string>
	<key>STORAGE_BUCKET</key>
	<string>prakash-f9bf4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3154372934:ios:c8a3e4a765abb057619d47</string>
	<key>DATABASE_URL</key>
	<string>https://prakash-f9bf4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>